[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
speechrecognition = "*"
pydub = "*"
pymongo = "*"
pyjwt = "*"
python-dotenv = "*"
flask-mongoengine = "*"
mongoengine = "*"

[dev-packages]

[requires]
python_version = "3.10"
